<div ng-include="'app/components/play/lead/leadView.html'"></div>
<div class="background-box"></div>
<div class="action-pane">
	<div class="main">
		<div class="row">
			<div class="col-xs-12">
				<a class="back-link" ui-sref="play.connect">
					<div class="panel panel-default">
						<div class="panel-heading panel-play">
							<span class="step-number">1</span> <span>Select your device</span>
							<div class="selection-check"><object data="assets/img/play-icon-check-light.svg" type="image/svg+xml" /></div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading panel-play"><span class="step-number">2</span> <span>Enter your smartphone information</span></div>
					<div class="panel-body">
						<div>
							<div class="row">
								<form class="col-xs-12 device-form">
									<div class="form-set">
										<h4>Smartphone name*</h4>
										<div><input type="text" name="nameInput" class="long-input" ng-model="deviceIdInput"></div>
										<div><small>Use a short name to uniquely identify your smartphone in the public demonstration dashboard.</small></div>
									</div>
									<div class="form-set">
										<h4>Smartphone key*</h4>
										<div>
											<input type="password" pattern="\d*" maxlength="1" name="passwordInput1" class="char-input" ng-model="passwordInput1">
											<input type="password" pattern="\d*" maxlength="1" name="passwordInput2" class="char-input" ng-model="passwordInput2">
											<input type="password" pattern="\d*" maxlength="1" name="passwordInput3" class="char-input" ng-model="passwordInput3">
											<input type="password" pattern="\d*" id="last-char-input" maxlength="1" name="passwordInput4" class="char-input" ng-model="passwordInput4">
										</div>
										<div><small>Enter a 4 digit numeric code that will act as a key for your smartphone.</small></div>
									</div>
									<div class="form-set">
										<h4>Email address</h4>
										<div><input type="text" id="email-input" name="emailInput" class="long-input" ng-model="emailInput"></div>
										<div><small>Enter your email address so we can securely connect your phone when you move to the free trial.</small></div>
									</div>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-9 col-md-10">
								<spanc class="span-req">*required</span>
								<hr class="device-hr">
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2 button-device">
								<a ui-sref="play.deviceData" class="btn btn-default next-button play" ng-click="deviceInput()" ng-if="deviceIdInput.length > 0 && (passwordInput1.length > 0 && passwordInput2.length > 0 && passwordInput3.length > 0 && passwordInput4.length > 0)">Next</a>
								<button class="btn btn-default next-button disabled" ng-if="( !deviceIdInput || !passwordInput1 || !passwordInput2 || !passwordInput3 || !passwordInput4 || deviceIdInput.length < 1 || passwordInput1.length < 1 || passwordInput2.length < 1 || passwordInput3.length < 1 || passwordInput4.length < 1)">Next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-disabled">
					<div class="panel-heading"><span class="step-number">3</span> <span>View live data from your smartphone</span></div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="directive-footer" ng-include="'app/components/play/footer/footerView.html'"></div>

<script>
	$(".char-input").on("click", function () {
	   	$(this).select();
	});
	var valueChanged = 0;
	$(".char-input").keydown(function (e) {
		if (!((e.keyCode == 190) || (e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode == 8 || e.keyCode == 9 || e.keyCode == 37 || e.keyCode == 39 || e.keyCode == 46)) {
      event.preventDefault();
			valueChanged = 0;
    }
		else{
			valueChanged = 1;
		}
	});
	$(".char-input").keyup(function (e) {
		var code = e.which;
		if(code != 9 && valueChanged == 1) {
		  $(this).select();
		   if (this.value.length == this.maxLength) {
		     var $next = $(this).next('.char-input');
		     if ($next.length)
		         $(this).next('.char-input').focus();
		     else
		         $('#email-input').focus();
		   }
		}
	});
</script>
