<!--div class="bg-grey">
  <div class="row center-element">
    <div class="col-xs-12 col-md-6">
      <h2>View devices in our demo organization</h2>
      <p class="text-bold">324 devices were connected in the past 24 hours</p>
      <p>Please note: this is not a secure connection and everyone will be able to see connected devices and the data sent.</p>
      <a class="btn btn-default">Take me there</a>
    </div>
    <div class="col-xs-12 col-md-6">
      <img src="assets/img/images_2.png" />
    </div>
  </div>
</div><!-- /.container -->
