<div class="container-fluid lead-container">
	<div class="lead play-lead">
		<div class="row">
			<div class="col-xs-12">
				<h1>Play</h1>
				<div class="lead-text">
					<p>Connect a networked device to the IBM Internet of Things Foundation service in IBM Bluemix and watch live sensor data stream into a sample dashboard.</p>
					<p>See how the IBM Internet of Things Foundation can help you build your own internet of things solution.</p>
					<a href="#" onclick="startPlay();"><button class="btn btn-default">Let's go!</button></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function startPlay(){
    $('html, body').animate({
      scrollTop: $(".action-pane").offset().top-60
    }, 1000);
	}
</script>
