<div ng-include="'app/components/play/lead/leadView.html'"></div>
<div class="background-box"></div>
<div class="container center-panel device-data-extend">
	<h2>{{message}}</h2>

	<div class="row">
		<div class="col-xs-12 col-md-4">
			<line-chart min-value="0" max-value="80" metadata="{{vibrationMetaData}}" render-data="{{vibrationDataPoint}}"></line-chart>
		</div>
		<div class="col-xs-12 col-md-4">
			<ul class='list-data'>
				<li>
					<span>{{limessage1}}</span>
				</li>
				<li>
					<span>{{limessage2}}</span>
  				<attribute-rule id="rule1" metadata="{{vibrationMetaData}}" payload="{{vibrationDataPoint}}"></attribute-rule>
				</li>
				<br><br><br>
			</ul>
		</div>
	</div>

	<div class="list-button">
		<a class="btn btn-default">See in Dashboard</a>
	</div>
</div>
<div class="directive-footer" ng-include="'app/components/play/footer/footerView.html'"></div>
<script>
	$( "#nav-play-item" ).addClass( "active" );
</script>
